/* Vars:
   ========================================================================== */

// Font
$mainFont: 'Roboto', sans-serif;
$mainFontColor: #000;
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.15;
$boxHeight: $mainLineHeight;
