extends ../layout/main

block variables
  - var title = '';
  - var description = '';
  - var pageClass = 'index-page w-100 h-100';

block content
  .container-fluid.h-100
    .row.h-100
      #content.row.w-100

